<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="econoStats" class="se.perfektum.econostats.EconoStats" />
    <bean id="spreadsheetMaker" class="se.perfektum.econostats.spreadsheet.SpreadsheetMaker"/>
    <bean id="spreadsheetManager" class="se.perfektum.econostats.spreadsheet.SpreadsheetManager">
        <constructor-arg type="SpreadsheetMaker" index="0" name="spreadsheetMaker" ref="spreadsheetMaker" />
    </bean>
</beans>