<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--Main-->
    <bean id="econoStatsMain" class="se.perfektum.econostats.EconostatsMain"/>
    <bean id="econoStats" class="se.perfektum.econostats.EconoStats">
        <constructor-arg index="0" name="spreadSheetManager" ref="odfToolkitSpreadsheetManager"/>
        <constructor-arg index="1" name="csvReader" ref="nordeaCsvReader"/>
        <constructor-arg index="2" name="accountTransactionDao" ref="googleDriveDao"/>
    </bean>

    <!--Csv Reader-->
    <bean id="nordeaCsvReader" class="se.perfektum.econostats.bank.nordea.NordeaCsvReader"/>

    <!--Dao-->
    <bean id="googleDriveDao" class="se.perfektum.econostats.dao.googledrive.GoogleDriveDao"/>

    <!--Spreadsheet-->
    <bean id="odfToolkitSpreadsheetProcessor"
          class="se.perfektum.econostats.spreadsheet.OdfToolkitSpreadsheetProcessor"/>
    <bean id="odfToolkitSpreadsheetManager" class="se.perfektum.econostats.spreadsheet.OdfToolkitSpreadsheetManager">
        <constructor-arg index="0" name="spreadsheetProcessor" ref="odfToolkitSpreadsheetProcessor"/>
    </bean>
</beans>